# Server Configuration
PORT=3000
APP_NAME=demo-server

# PostgreSQL Configuration
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=demo-server
PG_USER=demo-server
PG_PASSWORD=demo-server

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=
REDIS_DB=0
REDIS_KEY_PREFIX=
REDIS_TLS_ENABLED=false
REDIS_TLS_REJECT_UNAUTHORIZED=false

# Optional vars for AWS ECR
#ECR_HOST=<your-account-id>.dkr.ecr.<your-region>.amazonaws.com
